/* Warna Untuk Font/Element/dan lainnya */
/* Biru: #244282 */
.uwb{
    background-color: #244282;
    color: white;
}
/* Merah: #993A36 */
/* Kuning: #FFC030 */
/* Kuning keorenan: #FBA026 */
/* Putih Dikit Gelap: #EEEEEE (Background) */


body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

/* Navbar Section */
.navbar {
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    padding: 10px 30px;
    background-color: #e4e4e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar img {
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.4s;
}

.navbar a:hover {
    font-size: 17px;
}

.login{
    padding: 8px 24px;
    border-radius: 5px;
    border: none;
    color: #244282;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.login:hover {
    background-color: #244282;
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
    color: black;
    padding: 0px 20px 0px 0px;
    font-size: 28px;
}

.logo img{
    
}

/* Halaman Beranda */
.beranda{
    height: auto;
    display: flex;
}

/* Beranda Kiri */
.si{
    color: #244282;
    width: 500px;
    font-weight: bold;
}

.ps{
    color: #FFC030;
}

.berandakiri{
    width: 30vw;
}
/* Beranda Kanan */

.berandakanan{
    background-color: red;
}

.abstrak{
    width: 50%;
    
}




