/* Warna Untuk Font/Element/dan lainnya */
/* Biru: #244282 */
/* Merah: #993A36 */
/* Kuning: #FFC030 */
/* Kuning keorenan: #FBA026 */
/* Putih Dikit Gelap: #EEEEEE (Background) */



body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

html {
    scroll-behavior: smooth;
}


/* popUp */

.uwb{
    background-color: #244282;
}


/* Navbar Section */
.navbar {
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    padding: 10px 30px;
    background-color: #e4e4e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar img {
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.4s;
}

.navbar a:hover {
    font-size: 17px;
}

.login{
    padding: 8px 24px;
    border-radius: 5px;
    border: none;
    color: #244282;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.login:hover {
    background-color: #244282;
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
    color: black;
    padding: 0px 20px 0px 0px;
    font-size: 28px;
}

.logo img{
    
}

/* Halaman Beranda */
.beranda{
    height: 93vh;
    display: flex;

}

.container-fluid{
    padding: 0px;
    margin: 0px;
}

/* Beranda Kiri */
.si{
    color: #244282;
    width: 600px;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 25px;
}

.deskripsi{
    width: 500px;
}

.ps{
    color: #FFC030;
}

.berandakiri{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.isibk{
    position: absolute;
    margin-left: 100px;
}
/* Beranda Kanan */

.berandakanan{
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.abstract{
    width: 100%;
    height: 200vh;
    position: absolute;
}

.imglomba{
    position: absolute;
    display: flex;
    pointer-events: none;
    right: 50px;
    height: 100vh;
    align-items: center;
}

.lomba{
    height: 300px;
    width: 300px;
    object-fit: fill;
    background-color: red;
    border-radius: 20px;
    border: 4px solid #EEEEEE;
}

.lomba1{
    margin-right: 20px;
    margin-top: 150px;
}

.lomba2{
    margin-bottom: 150px;
}


/* Telusuri Prestasi  */

.raihpres{
    color: #FFC030;
    margin: 100px;
    margin-bottom: 50px;
}

.raihpres p{
    font-weight: bold;
}

.raihpres h1{
    width: 600px;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 25px;
}

.ps2{
    color: #244282;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    vertical-align: middle;
}

thead{
    background-color: #244282;
    color: #fff;

}

.table-bordered{
    border: 1px solid black;
}

#beranda,
#telusuri {
    scroll-margin-top: 150px; /* Sesuaikan dengan tinggi navbar Anda */
}

td.ganjil{
    background-color: #dadada;
}

/* Tentang Kami */

.about {
    position: relative; 
    height: 100vh;
    background-color: #244282; 
    overflow: hidden; 
}

.about::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/gedung.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.1; 
    z-index: 1; 
}

.about-content {
    position: relative; 
    z-index: 2; 
    color: white; 
    margin: 100px;
    font-weight: bold;
    width: 500px;
}

.about-content h1{
    font-weight: 700;
}

.about-content p{
    font-size: 18px;
}

.imgtk{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
    top: 0;
    gap: 50px;
    height: 100%;
    justify-content: center;
}

.imgtk img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #EEEEEE;
}

/* Kontak */

.kontak{
    color: #244282;
    display: flex;
    margin: 50px 0px 50px 100px;
    position: relative;
}

.hubungi{
    margin-right: 50px;
    border-right: 2px solid black;
    padding-right: 50px;
}

.wi{
    color: black;
}

.kontak div p:first-child{
    font-weight: bold;
}

.follow{
    position: absolute;
    right: 100px;
    bottom: 5px;
}

.followlogo i{
    font-size: 18px;
    margin-right: 5px;
}

/* Footer */
footer {
    background-color: #244282;
    color: white;
    position: relative;
    bottom: 0;
    height: 50px;
    line-height: 50px; 
    padding-left: 100px; 
}










